.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

h2, p {
    margin-bottom: 1em;
}

.about a {  
    text-decoration: underline;
    transition: 0.1s;
}

.about a:hover{
    color: darkblue;
    transform: scale(1.03);
}