<form action="">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" placeholder="Coloque um título" required />
  </div>
  <div class="form-group">
    <label for="description">Drecription:</label>
    <textarea placeholder="what happened there?" required></textarea>
  </div>
  <div class="form-group">
    <label for="image">Post the photo that tagged the most:</label>
    <input type="file" id="selectedFile"  style="display: none"/>
    <input type="button" value="Picture" onclick="document.getElementById('selectedFile').click();"/>
  </div>
  <div class="form-submit">
    <input type="submit" value="{{ btnText }}" />
  </div>
</form>
