* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* FORM */

form {
  width: 450px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-group label {
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 0.4em;
}

.inputInvalid {
  padding: 0.6em;
  color: #777;
  font-size: 0.8em;
  border: 1px solid red;
}

input,
textarea {
  outline: none;
  padding: 0.6em;
  color: #777;
  font-size: 0.8em;
  border: 1px solid darkblue;
}

input:hover,
textarea:hover {
  border: 1px solid rgb(0, 209, 236);

}

input:focus,
textarea:focus {
  border: 2px solid rgb(0, 209, 236);
  animation-name: inputs;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes inputs {
  0% {
    border: solid 2px rgb(0, 209, 236);
  }

  50% {
    border: solid 2px darkblue;
  }

  100% {
    border: solid 2px rgb(0, 209, 236);
  }
}

.inputValid {
  padding: 0.6em;
  color: #777;
  font-size: 0.8em;
  border: 1px solid darkblue;
}

.inputValid:hover {
  border: 1px solid rgb(0, 209, 236);
}

input[type="submit"] {
  background-color: rgb(212, 232, 250);
  border: 2px solid transparent;
  padding: 0.6em;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.4s;
}

input[type="submit"]:hover {
  color: darkblue;
  border-color: darkblue;
  background-color: transparent;
}

.validation-error {
  color: red;
  margin-top: 0.4em;
  padding-left: 0.2em;
  border-left: solid 2px red;
}

/* BUTTONS */

.edit-btn,
.remove-btn {
  border: 1px solid darkblue;
  padding: .4em 1em;
  font-size: 1em;
  margin: 0 .5em;
  cursor: pointer;
  background-color: white;
  transition: 0.3s;
}

button fa-icon,
a fa-icon {
  margin-right: .2em;
}

.edit-btn,
.edit-btn path {
  border-color: darkblue;
  color: darkblue;
  transition: 0.3s;
}

.edit-btn:hover,
.edit-btn:hover path {
  background-color: darkblue;
  color: white;
}

.remove-btn,
.remove-btn path {
  border-color: crimson;
  color: crimson;
  transition: 0.3s;
}

.remove-btn:hover,
.remove-btn:hover path {
  background-color: crimson;
  color: white;
}